springtest/src/main/resources/META-INF/userxsdtest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.xlj.com/schema/userxsdtest"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.xlj.com/schema/userxsdtest"
            elementFormDefault="qualified">

    <xsd:element name="userxsdtest">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="username" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="password" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
